body {
    margin: auto;
    width: 60%;
}

.upper-menu 
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.upper-menu a {
    text-decoration: none;
    padding: 10px;
}

.upper-menu li {
    display: inline;
}

.upper-menu li:hover {
    background-color: black;
    color: white;
}